<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= item.name %></h2>
      <h3><%= item.price %>€</h3>
      <img class="img-fluid" src="<%= item.image%>" />
      <div class="row justify-content-between">

        <%if(item.user === user.id){ %>
        <form action="/item/deleteItem/<%= item.id %>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>

        <%if(item.user !== user.id){ %>
        <form action="/item/buyItem/<%= item.id %>?_method=PUT" method="POST" class="col-3">
          <button class="btn btn-primary" type="submit">Buy</button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= item.caption %></p>
      </div>
      <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/profile">Return to Profile</a>
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>